@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@300&family=Cormorant+Garamond:ital,wght@1,300;1,400&family=Della+Respira&family=Domine&family=IBM+Plex+Sans+Thai:wght@100;300&family=Spectral:wght@200&family=Overpass:wght@100&family=Ibarra+Real+Nova&family=Kaisei+Tokumin&family=Radley:ital@1&family=STIX+Two+Text&family=Shippori+Mincho&display=swap');

body{
    background-image: url(images/cover2.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

}

h6{
    font-size: 0.2cm;
    color: white;
    text-align: center;
    font-family: 'Overpass', sans-serif;
}

h5{
    font-size: 0.1cm;
    color: white;
    text-align: center;
    font-family: 'Overpass', sans-serif;
    font:bolder;

}

.box-1{
    color: black;
    font-family: 'Overpass', sans-serif;
    text-align: center;
  
}
.box-1{
    box-sizing: border-box;
    border-radius: 30px;
    height: 60px;
    width: 250px;
    background-color: lightyellow;
    padding: 20px;
    margin: 30px;
    box-shadow: rgba(0,0,0,0.2) 3px 3px 10px;
    margin-left: 400px;
}

.box-2{
    color: black;
    font-family: 'Overpass', sans-serif;
    text-align: center;
}
.box-2{
    box-sizing: border-box;
    border-radius: 30px;
    height: 60px;
    width: 250px;
    background-color: lightyellow;
    padding: 20px;
    margin: 30px;
    box-shadow: rgba(0,0,0,0.2) 3px 3px 10px;
    margin-left: 400px;

}
.box-3{
    color: black;
    font-family: 'Overpass', sans-serif;
    text-align: center;
}
.box-3{
    box-sizing: border-box;
    border-radius: 30px;
    height: 60px;
    width: 250px;
    background-color: lightyellow;
    padding: 20px;
    margin: 30px;
    box-shadow: rgba(0,0,0,0.2) 3px 3px 10px;
    margin-left: 400px;

}

.box-4{
    color: black;
    font-family: 'Overpass', sans-serif;
    text-align: center;
}
.box-4{
    box-sizing: border-box;
    border-radius: 30px;
    height: 60px;
    width: 250px;
    background-color: lightyellow;
    padding: 20px;
    margin: 30px;
    box-shadow: rgba(0,0,0,0.2) 3px 3px 10px;
    margin-left: 400px;
}

.box-5{
    color: black;
    font-family: 'Overpass', sans-serif;
    text-align: center;
}
.box-5{
    box-sizing: border-box;
    border-radius: 30px;
    height: 60px;
    width: 250px;
    background-color: lightyellow;
    padding: 20px;
    margin: 30px;
    box-shadow: rgba(0,0,0,0.2) 3px 3px 10px;
    margin-left: 800px;
    margin-top: -360px;

}
.box-6{
    color: black;
    font-family: 'Overpass', sans-serif;
    text-align: center;
}
.box-6{
    box-sizing: border-box;
    border-radius: 30px;
    height: 60px;
    width: 250px;
    background-color: lightyellow;
    padding: 20px;
    margin: 30px;
    box-shadow: rgba(0,0,0,0.2) 3px 3px 10px;
    margin-left: 800px;
 

}
.box-7{
    color: black;
    font-family: 'Overpass', sans-serif;
    text-align: center;
}
.box-7{
    box-sizing: border-box;
    border-radius: 30px;
    height: 60px;
    width: 250px;
    background-color: lightyellow;
    padding: 20px;
    margin: 30px;
    box-shadow: rgba(0,0,0,0.2) 3px 3px 10px;
    margin-left: 800px;
 

}
.box-8{
    color: black;
    font-family: 'Overpass', sans-serif;
    text-align: center;
}
.box-8{
    box-sizing: border-box;
    border-radius: 30px;
    height: 60px;
    width: 250px;
    background-color: lightyellow;
    padding: 20px;
    margin: 30px;
    box-shadow: rgba(0,0,0,0.2) 3px 3px 10px;
    margin-left: 800px;
 

}
.button-1{

    margin-left: 1120px;
    box-sizing: border-box;
    border-radius: 45px;
    color: black;
    background-color: lightyellow;
    padding: 10px;
    text-decoration: none;
    
}
 .button-1{
     position: absolute;
     font-size: 0.6cm;
     font-family: 'Cormorant Infant', serif;
     font-style:bold;
     margin-top: 248px;
     width: 85px;
     text-align: center;
 }


